

<h1>
  Learn what you will use.
</h1>

<h3>
  A resource for Web and Mobile Programming.
</h3>

<h3>
  Learn how to program and improve your job market, school grades.
</h3>

<ol>
  <li>
    Full on tutorial episodes
  </li>
  <li>
    Best Practice Videos
  </li>
</ol>

<%= link_to "Subscribe Here", users_info_path, class: "btn btn-info" %>
