
<h1>
  <%= current_user.email %>
</h1>


<% if @subscription.active %>
  <%= Time.at( @stripe_subscription["current_period_end"]).strftime("%D") %>

  <%= link_to "Cancel Subscription", users_cancel_subscription_path, class: 'btn btn-danger' %>
<% else %>
  <%= render 'form' %>
<% end %>
