      <div class="jumbotron">
        <div class="thumbnail">
          <%= image_tag "AJ_ABOUT.JPG", class: '' %>
        </div>
        <h1>Hello World!</h1>
        <p>
          This site is run by A.J. Norton, a veteran Ruby on Rails and iOS developer.
        </p>
      </div>

